body {
    background-color: #BFD7EA;
}
h1 {
    text-align: center;
}
ul {
  list-style: none;   /* Removes the dots */
  margin: 0;
  padding: 0;
  display: flex;      /* Makes items horizontal */
  gap: 20px;          /* Space between links */
}
img {
    min-width: 100px;
}